
<launch>
    <arg name="config_path" default = "$(find feature_tracker)/../config/struct_core_config.yaml" />
    <arg name="vins_path" default = "$(find feature_tracker)/../config" />
    <arg name="gravity_norm" default="-9.8"/>

    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
       <param name="gravity_norm" type="double" value="$(arg gravity_norm)"/>
    </node>

    <include file="vins_rviz.launch"/>

</launch>
